---
import FlipCard from '@/components/FlipCard.astro'
import TagsBar from '@/components/TagsBar.astro'
import { isAbsolute, toMonthString } from '@/util'
import { resolveTags } from '@/util/tags'
import { Image } from 'astro:assets'
import { type CollectionEntry, render } from 'astro:content'

export interface Props {
  project: CollectionEntry<'projects'>
}

const { project } = Astro.props
const { data } = project
const { Content } = await render(project)
---

<FlipCard class="h-full md:p-4">
  <div
    slot="front"
    class="flex flex-col items-start justify-center pt-14 md:items-center md:gap-4 md:pt-0"
  >
    {
      data.previewImage && (
        <Image
          src={data.previewImage}
          height={208}
          alt={`${data.title} preview`}
          class="mt-0 mb-4 max-h-52 w-fit rounded-sm object-contain md:mb-0 md:h-32"
        />
      )
    }
    <div class="flex flex-col justify-between sm:flex-row sm:items-center">
      {
        data.url && (
          <a
            class="mb-2 text-xl font-normal no-underline"
            href={data.url}
            target={isAbsolute(data.url) ? '_blank' : '_self'}
          >
            <span class="underline">{data.title}</span>
            {data.url && isAbsolute(data.url) && (
              <span class="iconify tabler--external-link align-middle" />
            )}
          </a>
        )
      }
      {!data.url && <span class="mb-2 text-xl">{data.title}</span>}
    </div>

    <TagsBar tags={resolveTags(data.tags)} />
  </div>

  <div slot="back" class="flex h-full flex-col pt-4 md:pt-0">
    <div class="mt-4 flex grow flex-col justify-center">
      <Content />
    </div>
    <div class="flex justify-end">
      {
        data.startDate && (
          <>
            <div class="h-auto" />
            <div class="my-2 text-sm opacity-75 sm:my-0">
              <time>{toMonthString(data.startDate)}</time> -
              {data.endDate && <time>{toMonthString(data.endDate)}</time>}
              {!data.endDate && 'Now'}
            </div>
          </>
        )
      }
    </div>
  </div>
</FlipCard>
