---
import Pagination from '@/components/Pagination.astro'
import PostsGrid from '@/components/posts/PostsGrid.astro'
import PostsList from '@/components/posts/PostsList.astro'
import PageLayout, {
  type Props as PageLayoutProps
} from '@/layouts/PageLayout.astro'
import config from '@/theme.config'
import { getPosts, getPostsPageDescription } from '@/util/posts'
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro'

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getPosts()

  return paginate(posts, { pageSize: config.postsPerPage })
}) satisfies GetStaticPaths

type Props = InferGetStaticPropsType<typeof getStaticPaths>

const { page } = Astro.props

const frontmatter: PageLayoutProps['frontmatter'] = {
  title: 'Posts',
  activeHeaderLink: 'Blog'
}

const PageDescription = getPostsPageDescription()
---

<PageLayout {frontmatter}>
  <h1>
    {frontmatter.title}
    {page.currentPage > 1 && <span>{` (page ${page.currentPage})`}</span>}
  </h1>

  {PageDescription && <PageDescription />}

  {config.postsView === 'list' && <PostsList posts={page.data} />}
  {config.postsView === 'grid' && <PostsGrid posts={page.data} />}

  <Pagination slot="bottom" page={page} />
</PageLayout>
