---
import type { InferEntrySchema } from 'astro:content'
import { getImage, Image } from 'astro:assets'

export interface Props {
  photos: InferEntrySchema<'albums'>['photos']
}

const { photos } = Astro.props

const optimizedPhotos = await Promise.all(
  photos.map(async (photo) => {
    const optimizedImage = await getImage({ src: photo.src, inferSize: true })

    return {
      localSrc: photo.src,
      description: photo.description,
      optimizedSrc: optimizedImage.src,
      width: optimizedImage.attributes.width as number,
      height: optimizedImage.attributes.height as number
    }
  })
)
---

<photoswipe-gallery>
  <div class="columns-1 gap-2 sm:columns-2 md:columns-3">
    {
      optimizedPhotos.map((photo, index) => (
        <a
          href={photo.optimizedSrc}
          data-pswp-width={photo.width}
          data-pswp-height={photo.height}
        >
          <Image
            src={photo.localSrc}
            class="mt-0 mr-0 mb-2 ml-0 block w-full break-inside-avoid"
            alt={photo.description ?? `Photo #${index + 1}`}
            width={photo.width}
            height={photo.height}
          />
        </a>
      ))
    }
  </div>
</photoswipe-gallery>

<script>
  import { createPhotoSwipeGallery } from '@/plugins/photoSwipePlugin'

  class PhotoSwipeGallery extends HTMLElement {
    onDestroy?: () => void

    async connectedCallback() {
      const galleryElement = this.children[0] as HTMLDivElement

      this.onDestroy = await createPhotoSwipeGallery(galleryElement)
    }

    disconnectedCallback() {
      this.onDestroy?.()
    }
  }

  if (!customElements.get('photoswipe-gallery'))
    customElements.define('photoswipe-gallery', PhotoSwipeGallery)
</script>
