---
import logo from '@/assets/logo.svg'
import Dropdown from '@/components/Dropdown.astro'
import HeaderItem from '@/components/layout/HeaderItem.astro'
import MobileNavToggle from '@/components/layout/MobileNavToggle.astro'
import Separator from '@/components/layout/Separator.astro'
import ModeToggle from '@/components/mode/ModeToggle.astro'
import config from '@/theme.config'
import type {
  HeaderItem as HeaderItemType,
  NavItem as NavItemType
} from '@/types'
import { Image } from 'astro:assets'

export interface Props {
  activeHeaderLink?: string
}

const { activeHeaderLink } = Astro.props

export const isNavItem = (item: HeaderItemType): item is NavItemType =>
  Object.hasOwn(item, 'href')
---

<header>
  <a href="#main" class="absolute -top-full left-8 px-2 py-2 focus:top-8"
    >Skip to main content</a
  >
  <div class="flex justify-between py-4 sm:py-8">
    <a href="/" class="text-accent flex gap-2 text-2xl font-semibold">
      <Image
        alt="Nordlys logo, a drawing of two gray mountains with green northern lights in the background"
        src={logo}
        height={24}
        loading="eager"
      />
      {config.title}
    </a>
    <nav class="hidden flex-col justify-end sm:flex">
      <ul class="flex gap-6">
        {
          config.navbarItems.map((item) => (
            <li class="flex flex-col justify-center">
              {isNavItem(item) ? (
                <HeaderItem
                  {item}
                  isActive={
                    activeHeaderLink === item.label ||
                    activeHeaderLink === item.href
                  }
                />
              ) : (
                <Dropdown {item} {activeHeaderLink} />
              )}
            </li>
          ))
        }
        <li class="text-2xl">
          <a href="/search/" class="flex items-center" aria-label="Search">
            <span class="clickable iconify tabler--search"></span>
          </a>
        </li>
        <li class="text-2xl">
          {config.modeToggle && <ModeToggle />}
        </li>
      </ul>
    </nav>
    <div class="flex items-center justify-center gap-4 text-2xl sm:hidden">
      {config.modeToggle && <ModeToggle />}
      <a href="/search/" aria-label="Search">
        <span class="clickable iconify tabler--search text-xl"></span>
      </a>
      <MobileNavToggle />
    </div>
  </div>
  <Separator />
  <div id="mobile-nav" class="hidden">
    <nav class="flex-col justify-end py-6">
      <ul class="flex flex-col items-center gap-2">
        {
          config.navbarItems.map((item) => (
            <li class="flex flex-col justify-center">
              {isNavItem(item) ? (
                <HeaderItem
                  {item}
                  isActive={
                    activeHeaderLink === item.label ||
                    activeHeaderLink === item.href
                  }
                />
              ) : (
                <Dropdown {item} {activeHeaderLink} />
              )}
            </li>
          ))
        }
      </ul>
    </nav>
    <Separator />
  </div>
</header>
