---
import PostsList from '@/components/PostsList.astro'
import ProjectsList from '@/components/ProjectsList.astro'
import { generateTags, getPosts, sortProjects } from '@/helpers/util'
import PageLayout from '@/layouts/PageLayout.astro'
import type { ResolvedTag } from '@/types'
import { getCollection } from 'astro:content'

export interface Props {
  tag: ResolvedTag
}

const {
  tag: { tag, icon }
} = Astro.props

export async function getStaticPaths() {
  const tags = await generateTags()

  return tags.map(({ tag, icon }) => ({
    params: { tag },
    props: { tag: { tag, icon } }
  }))
}

const posts = await getPosts(tag)

const projects = (
  await getCollection('projects', (project) =>
    project.data.tags.map((t) => t.toLowerCase()).includes(tag)
  )
).sort(sortProjects)

const frontmatter = {
  title: `Tag: ${tag}`,
  activeHeaderLink: 'Tags'
}
---

<PageLayout {frontmatter}>
  <h1>
    <span class={`iconify align-middle text-6xl ${icon}`}></span>
    <span>{tag}</span>
  </h1>
  {!!posts.length && <h2>Posts</h2>}
  <PostsList {posts} />
  {!!projects.length && <h2>Projects</h2>}
  <ProjectsList {projects} />
</PageLayout>
