---
import PageLayout, {
  type Props as PageLayoutProps
} from '@/layouts/PageLayout.astro'
import { generateTags, getTagUsage } from '@/util/tags'

const tags = await generateTags()

const frontmatter: PageLayoutProps['frontmatter'] = {
  title: 'Tags',
  activeHeaderLink: 'Tags'
}
---

<PageLayout {frontmatter}>
  <h1>Tags</h1>
  <div class="flex flex-wrap gap-4 sm:gap-8">
    {
      tags.map(({ tag, icon }) => (
        <a
          class="clickable flex flex-col items-center gap-1 no-underline"
          href={`/tags/${tag}`}
          data-astro-prefetch
        >
          <span class={`iconify text-4xl sm:text-5xl ${icon}`} />

          <span class="text-base font-normal sm:text-lg">
            {tag} ({getTagUsage(tag)})
          </span>
        </a>
      ))
    }
  </div>
</PageLayout>
