---
import Separator from '@/components/layout/Separator.astro'

import PageLayout, {
  type Props as PageLayoutProps
} from '@/layouts/PageLayout.astro'

import { getTools, getToolsPageDescription } from '@/util/tools'

const tools = await getTools()

const frontmatter: PageLayoutProps['frontmatter'] = {
  title: 'Tools',

  activeHeaderLink: 'Tools'
}

const PageDescription = getToolsPageDescription()
---

<PageLayout {frontmatter}>
  <h1>{frontmatter.title}</h1>

  {PageDescription && <PageDescription />}

  <div class="flex flex-col gap-4">
    {
      tools.map(({ data: { title, icon, items } }) => (
        <tool-group class="group flex flex-col gap-2 sm:gap-4">
          <div class="flex items-center gap-2">
            <span class={`iconify ${icon}`} />

            <span>{title}</span>
          </div>

          <Separator class="mt-0 mb-2" />

          <div class="flex flex-row flex-wrap gap-4 sm:gap-12">
            {items.map((item) => (
              <button
                style={`--highlight-color: ${item.highlightColor}`}
                class="group/item flex cursor-pointer flex-col items-center gap-2"
                data-active="false"
                data-title={item.title}
                data-icon={item.icon}
                data-highlight-color={item.highlightColor}
                data-description={item.description}
              >
                <span
                  class={`iconify text-3xl sm:text-5xl ${item.icon} transition-colors duration-500 ease-in-out group-hover/item:text-(--highlight-color) group-data-[active=true]/item:text-(--highlight-color)`}
                />

                <span class="text-xs opacity-75 transition-opacity duration-500 ease-in-out group-hover/item:opacity-100 group-data-[active=true]/item:opacity-100 sm:text-base">
                  {item.title}
                </span>
              </button>
            ))}
          </div>

          <div class="grid grid-rows-[0fr] opacity-0 transition-[grid-template-rows,opacity] duration-300 ease-in-out group-has-data-[active=true]:grid-rows-[1fr] group-has-data-[active=true]:opacity-100">
            <div class="overflow-hidden">
              <div class="flex items-start gap-4 py-2 sm:gap-8 sm:py-4">
                <tool-details-icon class="pt-2">
                  <span />
                </tool-details-icon>
                <div class="flex flex-col gap-1 sm:gap-2">
                  <tool-details-title class="text-base sm:text-xl" />
                  <tool-details-description class="text-xs sm:text-base" />
                </div>
              </div>
            </div>
          </div>
        </tool-group>
      ))
    }
  </div>
</PageLayout>

<script>
  class ToolGroup extends HTMLElement {
    getButtons = () => this.querySelectorAll<HTMLButtonElement>('button')
    getGroups = () => document.querySelectorAll<ToolGroup>('tool-group')

    getDetails = () => {
      const title = this.querySelector<HTMLElement>('tool-details-title')
      const icon = this.querySelector<HTMLElement>('tool-details-icon span')
      const description = this.querySelector<HTMLElement>(
        'tool-details-description'
      )

      if (!title || !icon || !description) return

      return { title, icon, description }
    }

    connectedCallback() {
      this.getButtons().forEach((button) => {
        button.addEventListener('click', () => {
          const isActive = button.dataset.active === 'true'

          this.getGroups().forEach((group) => group.onClose())

          if (isActive) return

          button.dataset.active = 'true'

          const details = this.getDetails()

          const itemTitle = button.dataset.title

          const itemDescription = button.dataset.description

          const itemIcon = button.dataset.icon

          const itemHighlightColor = button.dataset.highlightColor

          if (
            !details ||
            !itemTitle ||
            !itemDescription ||
            !itemIcon ||
            !itemHighlightColor
          )
            return

          const { title, description, icon } = details

          title.innerText = itemTitle

          description.innerText = itemDescription

          icon.style = `--highlight-color: ${itemHighlightColor}`

          icon.className = `text-3xl sm:text-5xl iconify ${itemIcon} text-(--highlight-color)`
        })
      })
    }

    onClose() {
      this.getButtons().forEach((button) => (button.dataset.active = 'false'))
    }
  }

  if (!customElements.get('tool-group'))
    customElements.define('tool-group', ToolGroup)
</script>
