---
interface Props {
  href: string
  icon?: string
  target?: string
}

const { href, icon, target } = Astro.props

const faviconUrl = `https://t1.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=${href}&size=32`
---

<a
  href={href}
  target={target}
  rel="noopener noreferrer"
  class="inline-flex h-7 items-center justify-around gap-1 rounded-md border-[1px] border-accent/75 bg-accent/15 px-1 no-underline transition-all duration-300 hover:bg-accent/35"
>
  {icon && <span class={`iconify ${icon}`} />}
  {
    !icon && (
      <img
        class="m-0 mr-1 inline-block h-4 rounded-sm"
        src={faviconUrl}
        alt="Link"
      />
    )
  }
  <slot />
</a>
