---
import TagsBar from '@/components/TagsBar.astro'
import { toDateString } from '@/util'
import { resolveTags } from '@/util/tags'
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'

export interface Props {
  post: CollectionEntry<'posts'>
}

const { id, data } = Astro.props.post
---

<div class="mb-8 flex flex-col gap-4 md:mb-4 md:flex-row md:gap-8">
  {
    data.previewImage && (
      <Image
        src={data.previewImage}
        alt={`${data.title} preview`}
        height={208}
        class="my-0 max-h-52 w-fit rounded object-contain md:h-[100px]"
      />
    )
  }
  <div class="flex w-full flex-col gap-2">
    <div class="flex flex-col justify-between sm:flex-row sm:items-center">
      <a class="text-xl font-normal" href={`/posts/${id}`} data-astro-prefetch>
        <span>{data.title}</span>
      </a>
      <time
        class="mt-4 text-sm opacity-75 sm:mt-0"
        datetime={data.publishedDate.toISOString()}
      >
        {toDateString(data.publishedDate)}
      </time>
    </div>
    <TagsBar tags={resolveTags(data.tags)} />
    <div class="opacity-75">{data.description}</div>
  </div>
</div>
