---
import Prose from '@/components/layout/Prose.astro'

interface Heading {
  depth: number
  slug: string
  text: string
}

type ProcessedHeading = Heading & { children: ProcessedHeading[] }

export interface Props {
  headings: Heading[]
  open?: boolean
}

const { headings, open = false } = Astro.props

function appendHeading(headings: ProcessedHeading[], newHeading: Heading) {
  const previousHeading = headings[headings.length - 1]

  if (!previousHeading || previousHeading.depth === newHeading.depth)
    headings.push({ ...newHeading, children: [] })
  else appendHeading(previousHeading.children, newHeading)
}

const processedHeadings: ProcessedHeading[] = []

headings.forEach((heading) => {
  appendHeading(processedHeadings, heading)
})

function renderList(headings: ProcessedHeading[]): string {
  if (!headings.length) return ''

  return `<ul class="my-1 list-none">
          ${headings
            .map(
              (heading) => `<li class="my-1">
                              <a href="#${heading.slug}" class="no-underline hover:underline" aria-label="${heading.text}">
                                ${heading.text}
                              </a>
                              ${renderList(heading.children)}
                            </li>`
            )
            .join('')}
          </ul>`
}
---

<div class="overflow-x-hidden p-4">
  <Prose>
    <h2 class="no-anchor mb-2">Table of Contents</h2>

    <details {open}>
      <summary>Show more</summary>
      <Fragment set:html={renderList(processedHeadings)} />
    </details>
  </Prose>
</div>
