---
import Pagination from '@/components/Pagination.astro'
import ProjectsList from '@/components/ProjectsList.astro'
import PageLayout, {
  type Props as PageLayoutProps
} from '@/layouts/PageLayout.astro'
import config from '@/theme.config'
import { getProjects } from '@/util/projects'
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro'

export const getStaticPaths = (async ({ paginate }) => {
  const projects = await getProjects()

  return paginate(projects, { pageSize: config.projectsPerPage })
}) satisfies GetStaticPaths

type Props = InferGetStaticPropsType<typeof getStaticPaths>

const { page } = Astro.props

const frontmatter: PageLayoutProps['frontmatter'] = {
  title: 'Projects',
  activeHeaderLink: 'Projects'
}
---

<PageLayout {frontmatter}>
  <h1>
    {frontmatter.title}
    <span>{` (page ${page.currentPage})`}</span>
  </h1>
  <ProjectsList projects={page.data} />

  <Pagination slot="bottom" page={page} />
</PageLayout>
