---
import Hero, { type Props as HeroProps } from '@/components/Hero.astro'
import ModeToggle from '@/components/mode/ModeToggle.astro'
import BaseLayout, {
  type Props as BaseLayoutProps
} from '@/layouts/BaseLayout.astro'
import config from '@/theme.config'

export type Props = BaseLayoutProps & HeroProps

const { frontmatter } = Astro.props
---

<BaseLayout frontmatter={frontmatter}>
  <div class="mx-auto mt-24 w-full max-w-[80%] sm:mt-36 md:max-w-2xl">
    <main class="mb-4 sm:mb-8">
      <section>
        {frontmatter.title && <Hero {frontmatter}>{frontmatter.title}</Hero>}
        <div
          id="highlight-links"
          class="text-3xl font-semibold tracking-tight sm:text-4xl sm:leading-[46px]"
        >
          <slot />
        </div>
      </section>
    </main>
    <hr class="border-separate border-black/75 dark:border-white/50" />
    <footer
      class="mt-4 flex justify-between gap-2 text-3xl sm:mt-8 sm:text-5xl"
    >
      {
        config.footerItems.map(({ icon, href, label }) => (
          <a
            href={href}
            aria-label={label}
            target={!href.startsWith('/') ? '_blank' : '_self'}
            rel="noopener noreferrer"
          >
            <span
              title={label}
              class={`iconify cursor-pointer text-black/75 hover:text-accent/100 dark:text-white/75 ${icon}`}
            />
          </a>
        ))
      }
      <div class="grow"></div>
      {config.modeToggle && <ModeToggle />}
    </footer>
  </div>
</BaseLayout>
<style is:global>
  #highlight-links {
    @apply text-black/50 dark:text-white/40;

    a {
      @apply text-accent/100;

      background-image: linear-gradient(
        transparent calc(85% - 5px),
        rgba(var(--accent), 0.35) 5px
      );
      background-size: 0;
      background-repeat: no-repeat;
      display: inline;
      transition: 0.5s cubic-bezier(0.65, -0.05, 0.25, 1);

      &:hover {
        background-size: 100%;
      }
    }
  }

  html {
    overflow-y: auto !important;
  }
</style>
